* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #030106;
  color: white;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  sans-serif;
}

a {
  color: inherit;

  body {
    cursor: none;
  }

  a,
  button {
    cursor: none;
  }
}